nodered/defaultFlows/dataFaker.json
[
  {
    "id": "c08c97e957e0cba0",
    "type": "tab",
    "label": "DataFaker",
    "disabled": false,
    "info": ""
  },
  {
    "id": "0eaa62e1a6e86caf",
    "type": "inject",
    "z": "c08c97e957e0cba0",
    "name": "EC",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 60,
    "wires": [
      [
        "89c854edbe978763"
      ]
    ]
  },
  {
    "id": "b12dac8a833e7c96",
    "type": "mqtt out",
    "z": "c08c97e957e0cba0",
    "name": "",
    "topic": "df/EC",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "5a1d20df06b2a528",
    "x": 530,
    "y": 60,
    "wires": []
  },
  {
    "id": "e015125b2e46328d",
    "type": "mqtt in",
    "z": "c08c97e957e0cba0",
    "name": "",
    "topic": "df/EC",
    "qos": "2",
    "datatype": "auto",
    "broker": "5a1d20df06b2a528",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 670,
    "y": 60,
    "wires": [
      [
        "27124c019dc7acde"
      ]
    ]
  },
  {
    "id": "27124c019dc7acde",
    "type": "debug",
    "z": "c08c97e957e0cba0",
    "name": "EC Sub",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 60,
    "wires": []
  },
  {
    "id": "89c854edbe978763",
    "type": "random",
    "z": "c08c97e957e0cba0",
    "name": "rand",
    "low": 1,
    "high": "500",
    "inte": "false",
    "property": "payload",
    "x": 230,
    "y": 60,
    "wires": [
      [
        "0a11152e9f95960e"
      ]
    ]
  },
  {
    "id": "0a11152e9f95960e",
    "type": "function",
    "z": "c08c97e957e0cba0",
    "name": "flatten & round",
    "func": "var oldValue = context.get('oldValue') || 0.0;\nvar newValue = msg.payload;\n\ncalculatedValue = parseFloat((oldValue * 49 + newValue) / 50).toFixed(1);\n//calculatedValue = parseFloat(calculatedValue).toFixed(1);\n\ncontext.set('oldValue',calculatedValue); // to store a variable\nmsg.payload = calculatedValue;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 60,
    "wires": [
      [
        "b12dac8a833e7c96"
      ]
    ]
  },
  {
    "id": "bb646d021f10e575",
    "type": "inject",
    "z": "c08c97e957e0cba0",
    "name": "PH",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 120,
    "wires": [
      [
        "712d780135386e60"
      ]
    ]
  },
  {
    "id": "d51c9e63d1aee63f",
    "type": "mqtt out",
    "z": "c08c97e957e0cba0",
    "name": "",
    "topic": "df/PH",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "5a1d20df06b2a528",
    "x": 530,
    "y": 120,
    "wires": []
  },
  {
    "id": "3ec49329e6c2c2c6",
    "type": "mqtt in",
    "z": "c08c97e957e0cba0",
    "name": "",
    "topic": "df/PH",
    "qos": "2",
    "datatype": "auto",
    "broker": "5a1d20df06b2a528",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 670,
    "y": 120,
    "wires": [
      [
        "bc79fc9e8e812f4d"
      ]
    ]
  },
  {
    "id": "bc79fc9e8e812f4d",
    "type": "debug",
    "z": "c08c97e957e0cba0",
    "name": "PH Sub",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 120,
    "wires": []
  },
  {
    "id": "712d780135386e60",
    "type": "random",
    "z": "c08c97e957e0cba0",
    "name": "rand",
    "low": 1,
    "high": "50",
    "inte": "false",
    "property": "payload",
    "x": 230,
    "y": 120,
    "wires": [
      [
        "c48b0d3ff981c265"
      ]
    ]
  },
  {
    "id": "2a19672b4e5abea9",
    "type": "inject",
    "z": "c08c97e957e0cba0",
    "name": "KCl",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 180,
    "wires": [
      [
        "814b8abdea2ace87"
      ]
    ]
  },
  {
    "id": "227ba23023e7a9d7",
    "type": "mqtt out",
    "z": "c08c97e957e0cba0",
    "name": "",
    "topic": "df/KCl",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "5a1d20df06b2a528",
    "x": 530,
    "y": 180,
    "wires": []
  },
  {
    "id": "b83cf8558a102d65",
    "type": "mqtt in",
    "z": "c08c97e957e0cba0",
    "name": "",
    "topic": "df/KCl",
    "qos": "2",
    "datatype": "auto",
    "broker": "5a1d20df06b2a528",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 670,
    "y": 180,
    "wires": [
      [
        "d1baedacb07f272f"
      ]
    ]
  },
  {
    "id": "d1baedacb07f272f",
    "type": "debug",
    "z": "c08c97e957e0cba0",
    "name": "KCI Sub",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 180,
    "wires": []
  },
  {
    "id": "814b8abdea2ace87",
    "type": "random",
    "z": "c08c97e957e0cba0",
    "name": "rand",
    "low": "500",
    "high": "1000",
    "inte": "false",
    "property": "payload",
    "x": 230,
    "y": 180,
    "wires": [
      [
        "7a4db185c1072bf5"
      ]
    ]
  },
  {
    "id": "c48b0d3ff981c265",
    "type": "function",
    "z": "c08c97e957e0cba0",
    "name": "flatten & round",
    "func": "var oldValue = context.get('oldValue') || 0.0;\nvar newValue = msg.payload;\n\ncalculatedValue = parseFloat((oldValue * 49 + newValue) / 50).toFixed(1);\n//calculatedValue = parseFloat(calculatedValue).toFixed(1);\n\ncontext.set('oldValue',calculatedValue); // to store a variable\nmsg.payload = calculatedValue;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 120,
    "wires": [
      [
        "d51c9e63d1aee63f"
      ]
    ]
  },
  {
    "id": "7a4db185c1072bf5",
    "type": "function",
    "z": "c08c97e957e0cba0",
    "name": "flatten & round",
    "func": "var oldValue = context.get('oldValue') || 0.0;\nvar newValue = msg.payload;\n\ncalculatedValue = parseFloat((oldValue * 49 + newValue) / 50).toFixed(1);\n//calculatedValue = parseFloat(calculatedValue).toFixed(1);\n\ncontext.set('oldValue',calculatedValue); // to store a variable\nmsg.payload = calculatedValue;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 180,
    "wires": [
      [
        "227ba23023e7a9d7"
      ]
    ]
  },
  {
    "id": "a0e0c36db33ae9b6",
    "type": "inject",
    "z": "c08c97e957e0cba0",
    "name": "N",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 240,
    "wires": [
      [
        "1a8e5ebf9342e040"
      ]
    ]
  },
  {
    "id": "255cb18a0965395e",
    "type": "mqtt out",
    "z": "c08c97e957e0cba0",
    "name": "",
    "topic": "df/N",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "5a1d20df06b2a528",
    "x": 530,
    "y": 240,
    "wires": []
  },
  {
    "id": "6519ca73fbfebe21",
    "type": "mqtt in",
    "z": "c08c97e957e0cba0",
    "name": "",
    "topic": "df/N",
    "qos": "2",
    "datatype": "auto",
    "broker": "5a1d20df06b2a528",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 670,
    "y": 240,
    "wires": [
      [
        "c6c65af7de0426d7"
      ]
    ]
  },
  {
    "id": "c6c65af7de0426d7",
    "type": "debug",
    "z": "c08c97e957e0cba0",
    "name": "N Sub",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 240,
    "wires": []
  },
  {
    "id": "1a8e5ebf9342e040",
    "type": "random",
    "z": "c08c97e957e0cba0",
    "name": "rand",
    "low": "500",
    "high": "1000",
    "inte": "false",
    "property": "payload",
    "x": 230,
    "y": 240,
    "wires": [
      [
        "5cc0335ac612074b"
      ]
    ]
  },
  {
    "id": "5cc0335ac612074b",
    "type": "function",
    "z": "c08c97e957e0cba0",
    "name": "flatten & round",
    "func": "var oldValue = context.get('oldValue') || 0.0;\nvar newValue = msg.payload;\n\ncalculatedValue = parseFloat((oldValue * 49 + newValue) / 50).toFixed(1);\n//calculatedValue = parseFloat(calculatedValue).toFixed(1);\n\ncontext.set('oldValue',calculatedValue); // to store a variable\nmsg.payload = calculatedValue;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 240,
    "wires": [
      [
        "255cb18a0965395e"
      ]
    ]
  }
]
